{
  "presets": [
    ["@babel/preset-env", { "modules": false }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  },
  "plugins": [
    "babel-plugin-transform-class-properties",
    "@babel/syntax-flow",
    "@babel/transform-flow-strip-types",
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ]
}
